/* Swiper Button Styling */

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    top: var(--swiper-pagination-top, 90%);
}

@media only screen and (min-width: 640px) {
    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        top: var(--swiper-navigation-top-offset, 50%);
        color: white;
    }
}

@media only screen and (min-width: 768px) {
    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        top: var(--swiper-pagination-top, 92%) !important;
    }
}

@media only screen and (min-width: 1500px) {
    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }
}
